/* Email Preview */

html {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.email-preview-container {
    cursor: pointer;
    padding-top: 10px;
    background: rgba(146, 145, 145, 0.151);
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(112, 111, 111, 0.411);
    height: 30px;
    transition: all ease .4s;
}

.email-preview-container:hover {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.email-preview {
    cursor: pointer;
    text-align: center;
    display: flex;
}

.email-preview .preview-body {
    padding-left: 5px;
    font-weight: 100;
    max-width: 360px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.subject-preview {
    min-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
}

.from-preview {
    padding-left: 35px;
    text-align: left;
    min-width: 200px;
}

.starred {
   position:sticky;
    color: gold;
    padding-top: 7px;
    width: 30px;
    height: 22px;
    font-size: 14px;
    border-radius: 55%;
    float: left;
    display: block;
    margin-top: -36px;
    margin-left: 2px;
    cursor: pointer;
    text-align: center;
    left: 0;
    transition: ease all .5s;
}

.not-starred {
    position:sticky;
    color: rgba(128, 128, 128, 0.596);
    padding-top: 7px;
    width: 30px;
    height: 22px;
    font-size: 14px;
    border-radius: 55%;
    float: left;
    display: block;
    margin-top: -36px;
    margin-left: 2px;
    cursor: pointer;
    text-align: center;
    left: 0;
    transition: ease all .5s;
}

.not-starred:hover, .starred:hover {
    background: rgba(168, 168, 170, 0.685);
}

.form- button {
    cursor: pointer;
}

.bold {
    background: white;
    font-weight: 900;
}

.unbold {
    font-weight: 100;
}

.subject-only::after {
    content: '-';
}

.delete-button-preview {
    color: gray;
    padding-top: 9px;
    width: 34px;
    height: 23px;
    font-size: 14px;
    border-radius: 55%;
    float: right;
    display: block;
    position: absolute;
    margin-top: -36px;
    margin-right: 105px;
    cursor: pointer;
    text-align: center;
    right: 0;
    transition: ease all .5s;
}

.back-inbox-btn {
    color: gray;
    padding-top: 9px;
    width: 34px;
    height: 23px;
    font-size: 14px;
    border-radius: 55%;
    float: right;
    display: block;
    position: absolute;
    margin-top: -36px;
    margin-right: 216px;
    cursor: pointer;
    text-align: center;
    right: 0;
    transition: ease all .5s;
}

.back-inbox-btn:hover {
    background: rgba(168, 168, 170, 0.685);
    width: 34px;
    height: 23px;
    color: black;
}

.delete-button-preview:hover {
    background: rgba(168, 168, 170, 0.685);
    width: 34px;
    height: 23px;
    color: black;
}

.mark-read-button {
    color: gray;
    outline: none;
    padding-top: 9px;
    width: 34px;
    height: 23px;
    font-size: 14px;
    border-radius: 55%;
    float: right;
    display: block;
    position: absolute;
    margin-top: -36px;
    margin-right: 142px;
    cursor: pointer;
    text-align: center;
    right: 0;
    transition: ease all .5s;
}

.mark-read-button:hover {
    background: rgba(168, 168, 170, 0.685);
    color: black;
    width: 34px;
    height: 23px;
}

.open-button-preview {
    color: gray;
    outline: none;
    padding-top: 10px;
    width: 34px;
    height: 23px;
    font-size: 14px;
    border-radius: 55%;
    float: right;
    display: block;
    position: absolute;
    margin-top: -36px;
    margin-right: 179px;
    cursor: pointer;
    text-align: center;
    right: 0;
    transition: ease all .5s;
}

.open-button-preview:hover {
    background: rgba(168, 168, 170, 0.685);
    color: black;
    width: 34px;
    height: 23px;
}

.hidden {
    display: none;
}

.preview-date {
    padding-right: 5px;
    font-size: 12px;
    font-family: cursive;
}

/* Email List*/

.email-list {
    margin-top: -1px;
    padding: 0;
    margin-left: 170px;
    margin-right: 100px;
    border-radius: 10px;
    height: 80vh;
    overflow-y: scroll;
    
}

.compose-button {
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    margin-left: 10px;
    width: 140px;
    height: 50px;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    background: white;
    border: 1px solid white;
    font-size: 15px;
    transition: all ease .4s;
    box-shadow: rgb(196, 194, 194) .1px .4px .4px .4px;
}

.compose-button:hover {
    background: rgb(250, 253, 251);
    box-shadow: rgb(196, 194, 194) .1px 1px .4px 1px;
}

.fa-plus {
    background: -webkit-linear-gradient(#e66465, #9198e5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 8px;
    margin-right: -4px;
    font-size: 29px;
}

.inbox-container {
    justify-content: space-evenly;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    outline: none;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    cursor: pointer;
    margin-top: 13px;
    background: rgba(255, 255, 255, 0);
    display: flex;
    font-size: 14px;
    width: 100%;
    height: 30px;
    align-items: center;
    margin-left: -10px;
}

.inbox-container-star {
    justify-content: space-between;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    outline: none;
    color: white;
    font-weight: bold;
    font-weight: 700;
    cursor: pointer;
    margin-top: 2px;
    background: rgba(255, 255, 255, 0);
    display: flex;
    font-size: 14px;
    width: 100%;
    height: 30px;
    align-items: center;
    margin-left: -10px;
}

.inbox-container-sent {
    justify-content: space-between;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    outline: none;
    color: white;
    font-weight: bold;
    font-weight: 700;
    cursor: pointer;
    margin-top: 2px;
    background: rgba(255, 255, 255, 0);
    display: flex;
    font-size: 14px;
    width: 100%;
    height: 30px;
    align-items: center;
    margin-left: -10px;
}

.inbox-container-trash {
    justify-content: space-between;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    outline: none;
    color: white;
    font-weight: bold;
    font-weight: 700;
    cursor: pointer;
    margin-top: 2px;
    background: rgba(255, 255, 255, 0);
    display: flex;
    font-size: 14px;
    width: 100%;
    height: 30px;
    align-items: center;
    margin-left: -10px;
}

.trash-inbox {
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 63px;
}

.starred-inbox {
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 51px;
}

.sent-inbox {
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 69px;
}

.inbox-container-star .fa-star {
    font-weight: bold;
    margin-left: 27px;
}

.inbox-container-sent .fa-paper-plane {
    margin-left: 26px;
}

.inbox-container-trash .fa-trash {
    margin-left: 28px;
}

.inbox-container-star:hover {
    background: rgba(250, 249, 249, 0.493);
}

.inbox-container-sent:hover {
    background: rgba(250, 249, 249, 0.493);
}

.inbox-container:hover {
    background: rgba(250, 249, 249, 0.493);
}

.inbox-container-trash:hover {
    background: rgba(250, 249, 249, 0.493);
}

.unread-mail {
    margin-right: -17px;
}

.unread-mail:after {
    content: ')';
}

.unread-mail:before {
    content: '(';
}

/* Email Page */

.email-page-container {
    margin-top: 70px;
    text-align: left;
    padding: 20px;
    border: 1px solid black;
    margin-left: 170px;
    margin-right: 101px;
    max-width: 80vw;
    height: 80vh;
    background: white;
}

.email-page-container h2 {
    padding-left: 20px;
    margin-top: -10px;
}

.email-page-container h1 {
    padding-left: 20px;
    margin-top: -3px;
}

.email-page-container button {
    cursor: pointer;
}

.emailpage-body-container {
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 50px);
    margin-bottom: 15px;
    margin-top: 10px;
    padding: 10px;
    height: 70%;
    background: #edf0f3;
}

.emailpage-body-container div {
    background: white;
    height: 80%;
    display: block;
    margin: 28px 300px;
    padding: 21px;
    /* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    line-height: 1.8em;
    overflow-y: scroll;
    max-height: auto;
}

.go-back-btn-body, .delete-btn-body {
    transition: all ease .4s;
    border-radius: 10px;
    font-weight: 700;
    height: 30px;
    width: 100px;
    background: black;
    border: 1px solid black;
    color: white;
}

.go-back-btn-body:hover, .delete-btn-body:hover {
    background: rgb(43, 41, 41);
}

.go-back-btn-body {
    margin-right: 15px;
}

.go-back-btn-body {
    margin-left: 15px;
}

/* Filter */

.dropbtn {
    margin-right: 20px;
    outline: none;
    border-radius: 10px;
    background-color: rgb(40, 44, 40);
    color: white;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    cursor: pointer;
    border-radius: 10px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content option {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content option:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #8d968d;
}

.search-input {
    background: rgba(241, 243, 244, 0.24);
    color: white;
    border: none;
    margin: 0;
    outline: none;
    padding-left: 36px;
    width: 389px;
    height: 28px;
    border-radius: 10px;
    padding-left: 39px;
    float: right;
    position: absolute;
    float: left;
    left: 0;
    margin-top: -14px;
    margin-left: 233px;
    cursor: text;
}

.email-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    background: white;
    margin-left: 170px;
    margin-right: 100px;
    border: 1px solid black;
    height: 45px;
    margin-top: 70px;
    background: black;
}

.fa-search {
    color: white;
    font-size: 20px;
    position: absolute;
    margin-top: -10px;
    margin-left: 70px;
    cursor: pointer;
}

.search-input-container {
    box-sizing: border-box;
}

/*Apsus Nav Bar */

.appsus-nav-bar {
    text-align: center;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    background: rgba(255, 255, 255, 0.226);
    height: 70px;
    display: flex;
    justify-content: space-around;
    justify-items: center;
}

.side-bar {
    left: 0;
    height: 100vh;
    position: fixed;
    width: 170px;
    background: rgba(255, 255, 255, 0.226);
}

html {
    /* background-image: url('https://wallpapermemory.com/uploads/681/zed-league-of-legends-background-1080p-170883.jpg'); */
    background-image: url('https://wallpapermemory.com/uploads/600/teemo-wallpaper-hd-1080p-170874.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

.home, .about, .notes, .emails, .books {
    padding-top: 15px;
    font-size: 30px;
    width: 100px;
    height: 15px;
}

.search-bar {
    margin-top: 70px;
}

/* about */

.about-page {
    margin-top: 70px;
}

/* Compose Modal */

.form-container {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 100px;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: 99999;
    margin-top: 50px;
    display: block;
    width: 570px;
    height: 520px;
    background: white;
}

.form-container input {
    color: black;
    width: calc(100% - 10px);
    height: 25px;
    margin: 5px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}

.form-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 700;
    padding-top: 15px;
    text-align: left;
    width: calc(100% - 20px);
    height: 30px;
    background: rgb(44, 43, 43);
    color: rgb(255, 255, 255);
}

.form-container .email-input-txt {
    padding: 5px;
    width: calc(100% - 100px);
    text-align: top;
    height: 100%;
    outline: none;
    border: none;
}

.form-container button {
    outline: none;
}

.close-btn-compose {
    cursor: pointer;
    float: right;
    color: rgb(189, 182, 182);
}

.submit-compose {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90px;
    height: 35px;
    font-weight: 700;
    background: black;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 20px;
    border-radius: 7px;
    border: 1px solid black;
    transition: all ease 0.4s;
}

.submit-compose:hover {
    background: rgb(32, 32, 32);
}

.fa-times:hover {
    text-align: center;
    color: white;
    transition: all ease .4s;
}

.fa-times {
    text-align: center;
}