/* Email Preview */

html {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.email-preview-container {
    cursor: pointer;
    padding-top: 10px;
    background: rgba(146, 145, 145, 0.151);
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(112, 111, 111, 0.411);
    height: 30px;
    transition: all ease .4s;
}

.email-preview-container:hover {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.email-preview {
    cursor: pointer;
    text-align: center;
    display: flex;
}

.email-preview .preview-body {
    padding-left: 5px;
    font-weight: 100;
    max-width: 360px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.subject-preview {
    min-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
}

.from-preview {
    padding-left: 35px;
    text-align: left;
    min-width: 200px;
}

.starred {
    color: gold;
    padding-top: 7px;
    width: 30px;
    height: 22px;
    font-size: 14px;
    border-radius: 55%;
    float: left;
    display: block;
    position: absolute;
    margin-top: -36px;
    margin-left: 172px;
    cursor: pointer;
    text-align: center;
    left: 0;
    transition: ease all .5s;
}

.not-starred {
    color: rgba(128, 128, 128, 0.596);
    padding-top: 7px;
    width: 30px;
    height: 22px;
    font-size: 14px;
    border-radius: 55%;
    float: left;
    display: block;
    position: absolute;
    margin-top: -36px;
    margin-left: 172px;
    cursor: pointer;
    text-align: center;
    left: 0;
    transition: ease all .5s;
}

.not-starred:hover, .starred:hover {
    background: rgba(168, 168, 170, 0.685);
}

.form- button {
    cursor: pointer;
}

.bold {
    background: white;
    font-weight: 900;
}

.unbold {
    font-weight: 100;
}

.subject-only::after {
    content: '-';
}

.delete-button-preview {
    color: gray;
    padding-top: 9px;
    width: 34px;
    height: 23px;
    font-size: 14px;
    border-radius: 55%;
    float: right;
    display: block;
    position: absolute;
    margin-top: -36px;
    margin-right: 105px;
    cursor: pointer;
    text-align: center;
    right: 0;
    transition: ease all .5s;
}

.delete-button-preview:hover {
    background: rgba(168, 168, 170, 0.685);
    width: 34px;
    height: 23px;
    color: black;
}

.mark-read-button {
    color: gray;
    outline: none;
    padding-top: 9px;
    width: 34px;
    height: 23px;
    font-size: 14px;
    border-radius: 55%;
    float: right;
    display: block;
    position: absolute;
    margin-top: -36px;
    margin-right: 142px;
    cursor: pointer;
    text-align: center;
    right: 0;
    transition: ease all .5s;
}

.mark-read-button:hover {
    background: rgba(168, 168, 170, 0.685);
    color: black;
    width: 34px;
    height: 23px;
}

.open-button-preview {
    color: gray;
    outline: none;
    padding-top: 10px;
    width: 34px;
    height: 23px;
    font-size: 14px;
    border-radius: 55%;
    float: right;
    display: block;
    position: absolute;
    margin-top: -36px;
    margin-right: 179px;
    cursor: pointer;
    text-align: center;
    right: 0;
    transition: ease all .5s;
}

.open-button-preview:hover {
    background: rgba(168, 168, 170, 0.685);
    color: black;
    width: 34px;
    height: 23px;
}

.hidden {
    display: none;
}

.preview-date {
    padding-right: 5px;
    font-size: 12px;
    font-family: cursive;
}

/* Email List*/

.email-list {
    padding: 0;
    margin-left: 170px;
    margin-right: 100px;
    border-radius: 10px;
}

/* Email Page */

.email-page-container {
    text-align: center;
    padding: 20px;
    border: 1px solid black;
    margin-top: 90px;
    margin-left: 150px;
    margin-right: 20px;
    max-width: 80vw;
}

/* Filter */

.dropbtn {
    outline: none;
    border-radius: 10px;
    background-color: rgb(40, 44, 40);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    cursor: pointer;
    border-radius: 10px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content option {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content option:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #8d968d;
}

.search-input {
    cursor: pointer;
}